/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
}

.input-group {
  margin-bottom: 15px;
}

.wrapper {
margin-top: 30px;
display: flex;

}

.box {

  border-radius: 2px;
  padding: 5px;
  min-height: 480px;
  height: 100%;
  border-right: 1px solid #1876d3;
}
.header {
  text-align: center;
  font-size: 18px;
  color:#1876d3;
  height: 48px;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #1876d3;

}
.card{
  background-color: #fafafa;
  padding: 3px;
}
.readonly:read-only {
  border: none;
  border-style: none;
  background-color: #fcfcfc;
}
.addtoleranceform{
  padding: 5px;
  text-align:center;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Typography
 */



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #1876d3;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  border-bottom: 1px dashed #1876d3;

}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
