<nav class="navbar fixed-top  header">
  <div class="nav navbar-nav">
    Tolerance Monitor
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down sidebar">
      <app-tolerance></app-tolerance>
    </nav>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <section class="row ">
        <app-tolerance-chart></app-tolerance-chart>
      </section>
      <hr/>
      <section class="row ">
        <router-outlet></router-outlet>
      </section>
    </main>
  </div>
</div>
