<ul class="nav nav-pills flex-column">
  <li class="nav-item" *ngFor="let tolerance of tolerances" (click)="onClick(tolerance)">
    <a class="nav-link" href="#">{{tolerance.name}}</a>
  </li>
</ul>
<div class="container card">
  <form class="addtoleranceform" [formGroup]="addToleranceForm" (ngSubmit)="addTolerance()">
    <div class="form-group">
      <label class="sr-only" for="inlineFormInput">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" formControlName="name" required placeholder="Tolerance Name">
      <button type="submit" class="btn btn-primary" [disabled]="addToleranceForm.invalid">Add Tolerance</button>
    </div>
  </form>
</div>
