<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<div class="container formsection">
  <div class="card">
    <form class="form-inline" [formGroup]="addScheduleForm" (ngSubmit)="addSchedule()">
      <div class="form-group">
        <label for="startime">Start time</label>
        <input type="time" class="form-control mx-sm-3" id="startime" formControlName="startTime" placeholder="Start time" required>
      </div>
      <div class="form-group">
        <label for="endtime">End time</label>
        <input type="time" class="form-control mx-sm-3" id="endtime" formControlName="endTime" placeholder="End time" required>
      </div>
      <div class="form-group">
        <label for="mintemp">Min Temp</label>
        <input type="number" class="form-control mx-sm-3" id="mintemp" formControlName="minTemp" placeholder="Min Temp" required>
      </div>
      <div class="form-group">
        <label for="maxtemp">Max Temp</label>
        <input type="number" class="form-control mx-sm-3" id="maxtemp" formControlName="maxTemp" placeholder="Max Temp" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="addScheduleForm.invalid">Add Schedule</button>
    </form>
  </div>
  <hr/>

  <form class="form-inline" [formGroup]="schedulesForm">
    <div formArrayName="schedulesControls">
      <div class="card-block">
        <table class="table table-bordered ">
          <thead class="thead-default">
            <tr>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Min Temp</th>
              <th>Max Temp</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="getSchedules(schedulesForm).length === 0">
            <tr>
              <td colspan="5"> Schedules Not available</td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let schedule of getSchedules(schedulesForm) let i=index">

              <td [formGroupName]="i">
                <input type="number" class="form-control readonly" formControlName="startTime" placeholder="Start time" readonly>
              </td>
              <td [formGroupName]="i">
                <input type="number" class="form-control readonly" formControlName="endTime" placeholder="End time" readonly>
              </td>
              <td [formGroupName]="i">
                <input type="number" class="form-control readonly" formControlName="minTemp" placeholder="Min Temp" readonly>
              </td>
              <td [formGroupName]="i">
                <input type="number" class="form-control readonly" formControlName="maxTemp" placeholder="Max Temp" readonly>
              </td>
              <td [formGroupName]="i">
                <button type="button" class="btn btn-outline-danger" (click)="onRemove(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </form>
</div>
